<h2>Gestion des Tâches</h2>

<div *ngIf="taches.length > 0; else pasDeTaches">

    <div *ngFor="let t of taches"
        class="tache"
        [ngClass]="{ 'terminee': t.complete }"
        [ngStyle]="{'color': t.priorite === 'haute' ? 'red' :t.priorite === 'moyenne' ? 'orange' :'green'}">

        {{ t.description }}

        <button (click)="toggle(t)">
        {{ t.complete ? 'Annuler' : 'Terminer' }}
        </button>
    </div>

</div>

<ng-template #pasDeTaches>
    <p>Vous n'avez pas de tâches en cours.</p>
</ng-template>
