input {
    margin: 5px;
    padding: 6px;
}

button {
    padding: 6px 12px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div {
    margin-bottom: 15px;
}

/* Pour importance élevée */
.important {
    background-color: #ffcccc;
    border-left: 5px solid red;
    padding: 10px;
    margin-bottom: 10px;
}

/* Pour importance moyenne */
.moyen {
    background-color: #fff2cc;
    border-left: 5px solid orange;
    padding: 10px;
    margin-bottom: 10px;
}

/* Pour importance faible */
.faible {
    background-color: #ccffcc;
    border-left: 5px solid green;
    padding: 10px;
    margin-bottom: 10px;
}

